body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px; }

/* Carousel */
.carousel-caption {
  z-index: 10 !important; }
  .carousel-caption p {
    font-size: 20px;
    line-height: 1.4; }

@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important; } }

.ui-grid-row .btn {
  margin: 5px 0px 5px 5px;
  padding-top: 0;
  padding-bottom: 0; }
  .ui-grid-row .btn .glyphicon {
    top: 2px;
    line-height: 0; }

.hunter-alerts {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 390px;
  opacity: 0.8; }
  .hunter-alerts .alert {
    margin-bottom: 5px; }

.exploregrid .exploregrid-item {
  float: left;
  position: relative;
  width: 305px;
  height: 185px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out; }
  .exploregrid .exploregrid-item:hover {
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 8px 15px rgba(0, 0, 0, 0.1); }
    .exploregrid .exploregrid-item:hover .exploregrid-item-title {
      color: #4078c0; }
    .exploregrid .exploregrid-item:hover .exploregrid-item-header {
      opacity: 1; }

.exploregrid .exploregrid-item-header {
  height: 20px;
  margin: -21px -21px 20px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out; }

.exploregrid .exploregrid-item-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  color: #333; }

.exploregrid .exploregrid-item-meta {
  display: block;
  font-size: 13px;
  color: #767676;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px; }

.exploregrid .exploregrid-item-meta-item {
  margin-right: 10px; }
