# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

init:
  - dnvm install 1.0.0-rc1-update1

build:
  - verbosity: minimal

before_build:
  - dnu restore Hunter6 --quiet

cache:
  - packages -> **\project.json

test_script:
  - test.bat