# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

init:
  - dnvm install 1.0.0-rc1-update1

before_build:
  - dnu restore Hunter6 --quiet

build:
  parallel: true
  verbosity: minimal

cache:
  - c:\users\appveyor\.dnx\packages -> **\project.json

test_script:
  - cmd: for /d %%l in ("Hunter6\test\*") do (pushd %%l && dnx test && popd || exit 1)

notifications:
  - provider: Slack
    incoming_webhook:
      secure: uU6Er/YwcX7IJTbRwDRrQBNAr7HQiqTif1oRE6K6c0BkVczpkqW0RTWZSewMlfiYX4vRK+Xt0VXIj0ob0F4CXzy0rTQKgRTHDZQcKD+pjnI=
