@{
    ViewData["Title"] = "Applicants";
}
<div ng-cloak>
    <div ng-controller="applicantController">
        <h1>
            Applicants <button class="btn btn-info" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add</button>
        </h1>
        <div ui-grid="gridOptions" external-scopes="clickHandler" class="grid"></div>
    </div>
</div>

