@{
    ViewData["Title"] = "Home Page";
}
<div ng-cloak>
    <div ng-controller="projectsController">
        <h1>Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in Projects">
                    <td>{{project.ID}}</td>
                    <td>{{project.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>