@{
    ViewData["Title"] = "Home Page";
}
<div ng-cloak>
    <div ng-controller="projectsController">
        <h1>Projects</h1>
        <style>
            .grid {
              width: 500px;
              height: 250px;
            }
        </style>
        <div ui-grid="{ data: Projects }" class="grid"></div>
    </div>
</div>