@{
    ViewData["Title"] = "Home Page";
}
<div ng-cloak>
    <div ng-controller="projectsController">
        <h1>Projects <button class="btn btn-info" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add</button></h1>
        <style>
            .grid {
                width: 100%;
                height: 500px;
            }
        </style>

        <div ui-grid="gridOptions" external-scopes="clickHandler" class="grid"></div>
    </div>
</div>