<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div><input type="text" placeholder="Name" ng-model="applicant.Name" required /></div>
    <div><input type="text" placeholder="Address" ng-model="applicant.Address" required /></div>
    <div><input type="text" placeholder="Phone" ng-model="applicant.Phone" required /></div>
    <div><input type="text" placeholder="Enter Birthday" ng-model="applicant.Birthday" required /></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>