<h2>Authorization test page</h2>

<p>This is the authorization test page. Please select one of the below options to test authorization:</p>
<ul>
    <li><a asp-controller="AuthTest" asp-action="RequireClimePolicyTest">Policy with a claim requirement test</a></li>
    <li><a asp-controller="AuthTest" asp-action="RequireRolePolicyTest">Policy with a role requirement test</a></li>
    <li><a asp-controller="AuthTest" asp-action="RequirementBasedPolicyTest">Policy with the requirement test</a></li>
    <li><a asp-controller="AuthTest" asp-action="ResourceBasedPolicyTest">Resource-based authorization test</a></li>
</ul>